<p id="notice"><%= notice %></p>

<h1>Smart Water Care Models</h1>

<table>
  <thead>
    <tr>
      <th>Dong number</th>
      <th>Household type</th>
      <th>Smartwatercare serialnumber</th>
      <th>Smartwatercare status</th>
      <th>Smartwatercare errorcode</th>
      <th>Ap water flowrate</th>
      <th>Ap water totalvolume</th>
      <th>Ap water usedtime</th>
      <th>Ap water pressure</th>
      <th>Ap water temperature</th>
      <th>Ap heatingwater flowrate</th>
      <th>Ap heatingwater totalvolume</th>
      <th>Ap heatingwater pressure</th>
      <th>Ap heatingwater temperature</th>
      <th>Fstfloor kitchen basin flowrate</th>
      <th>Fstfloor kitchen basin totalvolume</th>
      <th>Fstfloor kitchen builtinwasher flowrate</th>
      <th>Fstfloor kitchen builtinwasher totalvolume</th>
      <th>Fstfloor restroom toilet flowrate</th>
      <th>Fstfloor restroom toilet totalvolume</th>
      <th>Fstfloor restroom washbasin flowrate</th>
      <th>Fstfloor restroom washbasin totalvolume</th>
      <th>Fstfloor restroom showers flowrate</th>
      <th>Fstfloor restroom showers totalvolume</th>
      <th>Fstfloor utilityroom flowrate</th>
      <th>Fstfloor utilityroom totalvolume</th>
      <th>Fstfloor outdoor flowrate</th>
      <th>Fstfloor outdoor totalvolume</th>
      <th>Sndfloor kitchen basin flowrate</th>
      <th>Sndfloor kitchen basin totalvolume</th>
      <th>Sndfloor kitchen builtinwasher flowrate</th>
      <th>Sndfloor kitchen builtinwasher totalvolume</th>
      <th>Sndfloor restroom2 toilet flowrate</th>
      <th>Sndfloor restroom2 toilet totalvolume</th>
      <th>Sndfloor restroom2 washbasin flowrate</th>
      <th>Sndfloor restroom2 washbasin totalvolume</th>
      <th>Sndfloor restroom2 showers flowrate</th>
      <th>Sndfloor restroom2 showers totalvolume</th>
      <th>Sndfloor restroom3 toilet flowrate</th>
      <th>Sndfloor restroom3 toilet totalvolume</th>
      <th>Sndfloor restroom3 washbasin flowrate</th>
      <th>Sndfloor restroom3 washbasin totalvolume</th>
      <th>Sndfloor restroom3 tub flowrate</th>
      <th>Sndfloor restroom3 tub totalvolume</th>
      <th>Sndfloor dressroom flowrate</th>
      <th>Sndfloor dressroom totalvolume</th>
      <th>Sndfloor outdoor flowrate</th>
      <th>Sndfloor outdoor totalvolume</th>
      <th>Household leakage expectations</th>
      <th>Household saving expectations</th>
      <th>Household basin pattern usage</th>
      <th>Household toilet pattern usage</th>
      <th>Household showers pattern usage</th>
      <th>Household kitchen pattern usage</th>
      <th>Household restroom pattern usage</th>
      <th>Household outdoor pattern usage</th>
      <th>Household utilityroom pattern usage</th>
      <th>Household tub pattern usage</th>
      <th>Household washer pattern usage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smart_water_care_models.each do |smart_water_care_model| %>
      <tr>
        <td><%= smart_water_care_model.dong_number %></td>
        <td><%= smart_water_care_model.household_type %></td>
        <td><%= smart_water_care_model.smartwatercare_serialnumber %></td>
        <td><%= smart_water_care_model.smartwatercare_status %></td>
        <td><%= smart_water_care_model.smartwatercare_errorcode %></td>
        <td><%= smart_water_care_model.AP_water_flowrate %></td>
        <td><%= smart_water_care_model.AP_water_totalvolume %></td>
        <td><%= smart_water_care_model.AP_water_usedtime %></td>
        <td><%= smart_water_care_model.AP_water_pressure %></td>
        <td><%= smart_water_care_model.AP_water_temperature %></td>
        <td><%= smart_water_care_model.AP_heatingwater_flowrate %></td>
        <td><%= smart_water_care_model.AP_heatingwater_totalvolume %></td>
        <td><%= smart_water_care_model.AP_heatingwater_pressure %></td>
        <td><%= smart_water_care_model.AP_heatingwater_temperature %></td>
        <td><%= smart_water_care_model.fstfloor_kitchen_basin_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_kitchen_basin_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_kitchen_builtinwasher_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_kitchen_builtinwasher_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_toilet_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_toilet_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_washbasin_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_washbasin_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_showers_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_restroom_showers_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_utilityroom_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_utilityroom_totalvolume %></td>
        <td><%= smart_water_care_model.fstfloor_outdoor_flowrate %></td>
        <td><%= smart_water_care_model.fstfloor_outdoor_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_kitchen_basin_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_kitchen_basin_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_kitchen_builtinwasher_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_kitchen_builtinwasher_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_toilet_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_toilet_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_washbasin_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_washbasin_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_showers_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom2_showers_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_toilet_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_toilet_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_washbasin_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_washbasin_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_tub_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_restroom3_tub_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_dressroom_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_dressroom_totalvolume %></td>
        <td><%= smart_water_care_model.sndfloor_outdoor_flowrate %></td>
        <td><%= smart_water_care_model.sndfloor_outdoor_totalvolume %></td>
        <td><%= smart_water_care_model.household_leakage_expectations %></td>
        <td><%= smart_water_care_model.household_saving_expectations %></td>
        <td><%= smart_water_care_model.household_basin_pattern_usage %></td>
        <td><%= smart_water_care_model.household_toilet_pattern_usage %></td>
        <td><%= smart_water_care_model.household_showers_pattern_usage %></td>
        <td><%= smart_water_care_model.household_kitchen_pattern_usage %></td>
        <td><%= smart_water_care_model.household_restroom_pattern_usage %></td>
        <td><%= smart_water_care_model.household_outdoor_pattern_usage %></td>
        <td><%= smart_water_care_model.household_utilityroom_pattern_usage %></td>
        <td><%= smart_water_care_model.household_tub_pattern_usage %></td>
        <td><%= smart_water_care_model.household_washer_pattern_usage %></td>
        <td><%= link_to 'Show', smart_water_care_model %></td>
        <td><%= link_to 'Edit', edit_smart_water_care_model_path(smart_water_care_model) %></td>
        <td><%= link_to 'Destroy', smart_water_care_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smart Water Care Model', new_smart_water_care_model_path %>
