<p id="notice"><%= notice %></p>

<p>
  <strong>Dong number:</strong>
  <%= @smart_water_care_model.dong_number %>
</p>

<p>
  <strong>Household type:</strong>
  <%= @smart_water_care_model.household_type %>
</p>

<p>
  <strong>Smartwatercare serialnumber:</strong>
  <%= @smart_water_care_model.smartwatercare_serialnumber %>
</p>

<p>
  <strong>Smartwatercare status:</strong>
  <%= @smart_water_care_model.smartwatercare_status %>
</p>

<p>
  <strong>Smartwatercare errorcode:</strong>
  <%= @smart_water_care_model.smartwatercare_errorcode %>
</p>

<p>
  <strong>Ap water flowrate:</strong>
  <%= @smart_water_care_model.AP_water_flowrate %>
</p>

<p>
  <strong>Ap water totalvolume:</strong>
  <%= @smart_water_care_model.AP_water_totalvolume %>
</p>

<p>
  <strong>Ap water usedtime:</strong>
  <%= @smart_water_care_model.AP_water_usedtime %>
</p>

<p>
  <strong>Ap water pressure:</strong>
  <%= @smart_water_care_model.AP_water_pressure %>
</p>

<p>
  <strong>Ap water temperature:</strong>
  <%= @smart_water_care_model.AP_water_temperature %>
</p>

<p>
  <strong>Ap heatingwater flowrate:</strong>
  <%= @smart_water_care_model.AP_heatingwater_flowrate %>
</p>

<p>
  <strong>Ap heatingwater totalvolume:</strong>
  <%= @smart_water_care_model.AP_heatingwater_totalvolume %>
</p>

<p>
  <strong>Ap heatingwater pressure:</strong>
  <%= @smart_water_care_model.AP_heatingwater_pressure %>
</p>

<p>
  <strong>Ap heatingwater temperature:</strong>
  <%= @smart_water_care_model.AP_heatingwater_temperature %>
</p>

<p>
  <strong>Fstfloor kitchen basin flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_kitchen_basin_flowrate %>
</p>

<p>
  <strong>Fstfloor kitchen basin totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_kitchen_basin_totalvolume %>
</p>

<p>
  <strong>Fstfloor kitchen builtinwasher flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_kitchen_builtinwasher_flowrate %>
</p>

<p>
  <strong>Fstfloor kitchen builtinwasher totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_kitchen_builtinwasher_totalvolume %>
</p>

<p>
  <strong>Fstfloor restroom toilet flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_toilet_flowrate %>
</p>

<p>
  <strong>Fstfloor restroom toilet totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_toilet_totalvolume %>
</p>

<p>
  <strong>Fstfloor restroom washbasin flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_washbasin_flowrate %>
</p>

<p>
  <strong>Fstfloor restroom washbasin totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_washbasin_totalvolume %>
</p>

<p>
  <strong>Fstfloor restroom showers flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_showers_flowrate %>
</p>

<p>
  <strong>Fstfloor restroom showers totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_restroom_showers_totalvolume %>
</p>

<p>
  <strong>Fstfloor utilityroom flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_utilityroom_flowrate %>
</p>

<p>
  <strong>Fstfloor utilityroom totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_utilityroom_totalvolume %>
</p>

<p>
  <strong>Fstfloor outdoor flowrate:</strong>
  <%= @smart_water_care_model.fstfloor_outdoor_flowrate %>
</p>

<p>
  <strong>Fstfloor outdoor totalvolume:</strong>
  <%= @smart_water_care_model.fstfloor_outdoor_totalvolume %>
</p>

<p>
  <strong>Sndfloor kitchen basin flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_kitchen_basin_flowrate %>
</p>

<p>
  <strong>Sndfloor kitchen basin totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_kitchen_basin_totalvolume %>
</p>

<p>
  <strong>Sndfloor kitchen builtinwasher flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_kitchen_builtinwasher_flowrate %>
</p>

<p>
  <strong>Sndfloor kitchen builtinwasher totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_kitchen_builtinwasher_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom2 toilet flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_toilet_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom2 toilet totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_toilet_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom2 washbasin flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_washbasin_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom2 washbasin totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_washbasin_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom2 showers flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_showers_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom2 showers totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom2_showers_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom3 toilet flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_toilet_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom3 toilet totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_toilet_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom3 washbasin flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_washbasin_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom3 washbasin totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_washbasin_totalvolume %>
</p>

<p>
  <strong>Sndfloor restroom3 tub flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_tub_flowrate %>
</p>

<p>
  <strong>Sndfloor restroom3 tub totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_restroom3_tub_totalvolume %>
</p>

<p>
  <strong>Sndfloor dressroom flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_dressroom_flowrate %>
</p>

<p>
  <strong>Sndfloor dressroom totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_dressroom_totalvolume %>
</p>

<p>
  <strong>Sndfloor outdoor flowrate:</strong>
  <%= @smart_water_care_model.sndfloor_outdoor_flowrate %>
</p>

<p>
  <strong>Sndfloor outdoor totalvolume:</strong>
  <%= @smart_water_care_model.sndfloor_outdoor_totalvolume %>
</p>

<p>
  <strong>Household leakage expectations:</strong>
  <%= @smart_water_care_model.household_leakage_expectations %>
</p>

<p>
  <strong>Household saving expectations:</strong>
  <%= @smart_water_care_model.household_saving_expectations %>
</p>

<p>
  <strong>Household basin pattern usage:</strong>
  <%= @smart_water_care_model.household_basin_pattern_usage %>
</p>

<p>
  <strong>Household toilet pattern usage:</strong>
  <%= @smart_water_care_model.household_toilet_pattern_usage %>
</p>

<p>
  <strong>Household showers pattern usage:</strong>
  <%= @smart_water_care_model.household_showers_pattern_usage %>
</p>

<p>
  <strong>Household kitchen pattern usage:</strong>
  <%= @smart_water_care_model.household_kitchen_pattern_usage %>
</p>

<p>
  <strong>Household restroom pattern usage:</strong>
  <%= @smart_water_care_model.household_restroom_pattern_usage %>
</p>

<p>
  <strong>Household outdoor pattern usage:</strong>
  <%= @smart_water_care_model.household_outdoor_pattern_usage %>
</p>

<p>
  <strong>Household utilityroom pattern usage:</strong>
  <%= @smart_water_care_model.household_utilityroom_pattern_usage %>
</p>

<p>
  <strong>Household tub pattern usage:</strong>
  <%= @smart_water_care_model.household_tub_pattern_usage %>
</p>

<p>
  <strong>Household washer pattern usage:</strong>
  <%= @smart_water_care_model.household_washer_pattern_usage %>
</p>

<%= link_to 'Edit', edit_smart_water_care_model_path(@smart_water_care_model) %> |
<%= link_to 'Back', smart_water_care_models_path %>
