<div class="row">
    <div class="col-2"></div>
    <div class="col-5">
      <br/>
	<h2 class="fw-light">Pressure Sensors (압력계 정보)</h2>
    </div>
    <div class="col-2"></div>    
    <div class="col-3">
      <div class="form-check form-switch">
	<% if session[:switcher_value] =="true" then %>
	  <input class="form-check-input" type="checkbox" id="switcher" checked>
	<% else %>
	  <input class="form-check-input" type="checkbox" id="switcher">
	<% end %>
	<label class="form-check-label" for="switcher"> Auto Refresh </label>
      </div>
      <%= link_to 'refresh', pressure_path, { :class => 'btn btn-secondary', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'button or auto?'} %>
      <%= link_to 'home', root_path, class: "btn btn-primary" %>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 card border-primary " >
	<div class="card-header">Pressure Sensors Table</div>
	<div class="card-body text-primary">
	    <p class="card-text">
		<table class="table table-hover w-auto small">
		    <thead>
			<tr>
			    <th scope="col">ID</th>
			    <th scope="col">건물(dong)</th>
			    <th scope="col">room type</th>
			    <th scope="col">시리얼 번호</th>
			    <th scope="col">압력계 번호</th>
			    <th scope="col">압력 값</th>
			    <th scope="col">온도 값</th>
			    <th scope="col">연결 위치</th>
			    <th scope="col">데이터 획득시간 </th>
			</tr>
		    </thead>
		    <tbody>
			<% @ps.each do |pressuresensor| %>
			    <tr>
				<th scope="row"><%= pressuresensor.id %> </th>
				<td><%= pressuresensor.dong %></td>
				<td><%= pressuresensor.roomtype %></td>
				<td><%= pressuresensor.pressuresensor_sn %></td>
				<td><%= pressuresensor.pressuresensor_number %></td>
				<td><%= pressuresensor.pressure %></td>
				<td><%= pressuresensor.temperature %></td>
				<td><%= pressuresensor.location %></td>
				<td><%= pressuresensor.getting_time %></td>
			    </tr>
			<% end %>

		    </tbody>
		</table>
		<%= pagy_bootstrap_nav(@pagy).html_safe %>
	    </p>
	</div>
    </div>
    <div class="col-2"></div>    
</div>


<%= javascript_pack_tag 'pressure_sensors_index' %>
