
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
      <div class="col-1"></div>
    <div class="col">
	<table class="table table-hover w-auto small">
	    <thead>
		<tr>
		    <th scope="col">ID</th>
		    <th scope="col">건물(dong)</th>
		    <th scope="col">room type</th>
		    <th scope="col">시리얼 번호</th>
		    <th scope="col">유량계 번호</th>
		    <th scope="col">순시값</th>
		    <th scope="col">적산값</th>
		    <th scope="col">파이프 규격</th>
		    <th scope="col">연결 위치</th>
		    <th scope="col">데이터 획득시간 </th>
		</tr>
	    </thead>
	    <tbody>
		<% @watermeters.each do |watermeter| %>
		<tr>
		    <th scope="row"><%= watermeter.id %> </th>
		    <td><%= watermeter.dong %></td>
		    <td><%= watermeter.roomtype %></td>
		    <td><%= watermeter.watermeter_sn %></td>
		    <td><%= watermeter.watermeter_number %></td>
		    <td><%= watermeter.flowrate %></td>
		    <td><%= watermeter.totalvolume %></td>
		    <td><%= watermeter.pipesize %></td>
		    <td><%= watermeter.location %></td>
		    <td><%= watermeter.getting_time %></td>
		</tr>
		<% end %>
	    </tbody>
	</table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col">
	<ul><li><%= pagy_bootstrap_nav(@pagy).html_safe %></li></ul>
    </div>
    <div class="col-4"></div>
</div>
